= simple_nested_form_for @exam do |f|
  = f.error_notification

  .row
    .col-sm-2
      = f.label :name, "Quiz Name"
    .col-sm-10
      = f.input :name, label: false
  %hr
  = f.fields_for :exam_items do |ei|
    .row
      .col-sm-2
        = ei.label :question, "Question"
      .col-sm-10
        .row
          .col-sm-8
            = ei.input :question, label: false
          .col-sm-2
            = ei.link_to_remove "Delete question", class: "btn btn-primary"
    .row
      .col-sm-2
        = ei.label "Answers", required: true
      .col-sm-10
        = ei.fields_for :answers do |a|
          .row
            .col-sm-8
              = a.input :content, label: false
            .col-sm-2
              = a.link_to_remove "Delete answer", class: "btn btn-primary"
      .col-sm-2
        = ei.link_to_add "Add new answer", :answers, class: "btn btn-primary"
    %hr
  = f.link_to_add "Add new question", :exam_items, class: "btn btn-primary"

  %br/
  %br/
  .actions
    = f.button :submit, "Save"
    = link_to 'Back', exams_path, class: "btn btn-primary"
