%p#notice= notice

%p
  %h3
    = @exam.name

  %table.table.table-bordered
    %thead
      %tr
        %th #
        %th Question
        %th Answers

    %tbody
      - @exam.exam_items.each do |ei|
        %tr
          %td= ei.seq_num
          %td= ei.question
          %td= possible_answers_display(ei).html_safe

= link_to 'Edit', edit_exam_path(@exam), class: "btn btn-primary"
= link_to 'Back', exams_path, class: "btn btn-primary"
